@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
.card{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid rgb(194 183 193);
    background-color: rgb(87 145 110);
    border-radius: 1.5rem;
    transition:all 0.3s ease-in-out;
    height: 10rem;
    justify-content: space-evenly;
}
.card:hover{
    transform:scale(1.04);
    cursor: pointer;

}
.card>img{
    width: 8.5rem;
    /* height: 3rem; */

}
.id{
    font-size: 2rem;
    color: rgb(233, 212, 197);
    font-weight: bold;
    font-family: 'PT Serif', serif;
}
.name{
    font-size:2rem;
    color: rgb(233, 212, 197);
    font-weight:bold;
    font-family: 'PT Serif', serif;
}